body {
	margin: 0;
	padding: 0;
	font-family: 'Monsterrat',sans-serif;
	background: url(Images/jur.jpeg);
	background-size: cover;
}
h1{
	margin-top: 170px;
	font-family:'Monsterrat',sans-serif;
	text-align: center;
	color:goldenrod;
}
h2{
	margin-top: 15px;
	font-family:'Monsterrat',sans-serif;
	text-align: center;
	color:goldenrod;
}

nav {
		width: 100%;
		background-color: seagreen;
		

		}
		nav>ul {
			margin: 0px ;
			padding: 0px ;
			}
	
nav > ul::after {
			content:"" ;
			display:block;
			clear: both;
			
			}

nav> ul > li {
	margin-top: 40px;
	padding-right: 40PX;
	float: right;

	position: relative;

	}


	nav > ul> li > a {
		padding: 15px 20px;
		color: black;
	}

nav li {
list-style-type: none;
}
.sous{
	display: none;
	}

nav a {
		display: inline-block;
		text-decoration: none;
	}
nav li:hover .sous {
	display: inline-block;
	position: Absolute;
	top: 100%;
	left: 30px;
	padding: 60px;
	z-index: 1000;
}
.sous {
	max-width: 1000px;
	margin: auto;
	background-color: burlywood;
	color: black;
	text-align: center;
	border-radius: 20px;
	padding: 50px;
	box-sizing: border-box;
	font-family:'Monsterrat',sans-serif;
}

.sous li a {
	border-bottom: 1px solid grey;

}
.sous li a {
	padding: 15px 30px;
	fron-size: 13px;
	color: black;
	width: 270px;
}
.menu:hover {
	border-top: 5px solid olive;
	background-color: black;
}
.contact:hove r{
	border-top: 5px solid olive;
	background-color: lightgreen;
}
.a propos de nous:hover {
	border-top: 5px solid olive;
	color: black;
	background-color: lightgreen;
}

.button{
	text-align: center;
}

.fig{
	position: absolute;
}
form {
  /* Uniquement centrer le formulaire sur la page */
  margin: 0 auto;
  width: 400px;
  /* Encadré pour voir les limites du formulaire */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
  display: inline-block;
  width: 90px;
  text-align: right;
}
